//This sass file contains styling relevant to blog.html
.wrapper__blog{
    width: 80%;
    margin: 0 auto;
}

section.blogger,
.blogger .text__container.text__container,
.flex__parent__container,
.flex__parent__post,
.comment,
form,
.blog__form__flex__parent{
    display: flex;
}

.blog p{
    color: #6e6e6e;
}

.blog__details,
.pineapple__chicken p{
    text-align: left;
    margin: 2% 0;
    font-size: 0.7rem;
}

p.blog__details{
    color:#2E2E2E;
    line-height: 0.75rem;
    margin:0 0 2.5% 0;
}

.pineapple__chicken h2{
    line-height: 1.5rem;
    margin: 10% 0 0 0;
}

section.blog{
    border-bottom: 1px solid #e0e0e0;
    margin: 5% 0 0;
    padding-bottom: 2.5%;
}
.tags{
    color: #999999;
    font-family: 'Lora';
    font-size: 0.6rem;
    font-weight: 400;
}
.share i{
    color:#999999;
    padding: 0 1%;
}
.tags__social h3{
    margin-bottom: 2.5%;
}


section.blogger{
    padding-bottom:5%;
}

section.blogger .image__container{
    width: 30%;
}

section.blogger .text__container{
    width: 90%;
    background-color:#f0f0f0;
    padding-left: 5%;
}
.blogger .text__container{
    flex-direction: column;
    justify-content: center;
}

.blogger .text__container p{
    text-align: left;
}

.flex__parent__container{
    justify-content: space-between;
}

.flex__parent__post{
    width: calc(95% / 3);
    flex-direction:column;
}

.related__posts .text__container{
    padding-top:5%;
}

.related__posts .text__container p,
.related__posts .text__container h3{
    text-align: left;
    margin:0;
}

.related__posts .text__container p{
    color:#999999;
}

.related__posts .text__container span{
    color:#2E2E2E;
}

.related__posts.blog{
    padding-bottom: 2.5%;
    margin-bottom: 2.5%;
}

.section__comments h3{
    margin-bottom: 2.55%;

}

.comment{
    height: 10%;
    margin-bottom: 2%;
}
.comment .image__container{
    height: 10%;
    width: 5%;
    margin-right: 5%;
    flex-shrink: 0;
}

.comment .text__container{
   background-color: #e0e0e0;
   position: relative;
}

.comment .text__container::before{
    content:"";
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 10px solid #e0e0e0;
    border-bottom: 5px solid transparent;
    position: absolute;
    left:-10px;
    top:10px;
}

.comment .text__container p{
    text-align: left;
    color: #333333;
    line-height: 0.75rem;
    padding: 0 2.5%;

 }

 .comment .text__container span,
 .time{
     font-family: 'Raleway';
 }

 .comment .text__container .time{
 font-size: 0.4rem;
 }

 .blog__comment__form{
     margin-top: 5%;
 }

 .blog__comment__form p{
    text-align: left;
    font-style: italic;
}

.blog__form{
    flex-direction:column;
}

.text__blog,
.email__blog{
    width: calc(94% / 3);
    padding: 1.5% 0 1.5% 1.5%;
    margin-bottom: 1%;
    border: 1px solid #e0e0e0;
}

.email__blog{
    margin: 0 calc(5% / 2) 1% calc(5% / 2);

}

.comment__blog{
    width: 100%;
    padding-bottom: 15%;
    border: 1px solid #e0e0e0;
}

.text__blog::placeholder,
.email__blog::placeholder,
.comment__blog::placeholder{
    color: #999999;
    font-family: 'Luca';
    font-size: 0.7rem;
}

.submit__blog{
    max-width: 20%;
    font-size: 0.5rem;
    padding: 1.5% 2.5% 1.5% 2.5%;
    font-weight: bold;
    margin-bottom: 10%;
    text-align: center;

}

form.blog{
    padding: 0;
}


.footer__flex__submit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.footer__flex__submit ul{
    border-top: 1px solid #474747;
    height: 15%;
}

.website{
    flex-grow: 1;
}











