//This sass file contains general css styling that is common (or baseline) across all 3 pages.

html{
    font-size: 125%;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}

img{
    max-width:100%;
    height: 100%;
    display: block;
}

a{
    text-decoration: none;
    color: inherit;
}

p{
    color: #999999;
    font-family: 'Lora';
    font-size: 0.5rem;
    line-height: 1.2rem;
    letter-spacing: 0.015;
    text-align: center;
}

button,
.button{
    background-color:$medium__green;
    color:#F6F6F6;
    padding: 2.5% 5%;
    margin-top: 5%;
    font-size: 0.4rem;
    border: none;
}