//This sass file contains only imports

@import "setup";
@import "variables";
@import "general";
@import "header";
@import "footer";
@import "home";
@import "blog";
@import "contact";
@import "media";

